body {
    font-family: Roboto, Oxygen, Ubuntu, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

.first {
    background: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px 100px 120px;
}

.logo {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.intro {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px 120px 120px 120px;
}

.intro-left {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 460px;
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.intro-button {
    background: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img {
    width: 600px;
    height: 250px;
    border: black;
    background: grey;
}

.second {
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-bottom: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.pic {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.text {
    font-size: 16px;
    color:#1F2937;
    text-align: center;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 120px 260px 0px 260px;
}

.quote-credit {
    background: #E5E7EB;
    font-weight: 900;
    font-size: 20px;
    text-align: right;
    padding: 0px 280px 100px 260px;
}

.fourth {
    display: flex;
    justify-content: center;
}

.modal {
    background: #3882F6;
    width: 800px;
    height: 150px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    padding: 0px 80px 0 80px;
    border-radius: 10px;
}

.modal-title {
    font-size: 24px;
    font-weight: 700;
    color:#F9FAF8;
}

.modal-text {
    font-size: 18px;
    color:#E5E7EB;
}

.modal-button {
    background: #3882F6;
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background: #1F2937;
    color:#E5E7EB;
    text-align: center;
    padding: 40px;
}